@{
    Layout = "_AdminLayout";
    ViewBag.PageName = "home";
}
@model Scottxu.Blog.Models.ViewModel.Admin.IndexViewModel

@section Head {
    <script blog-src="assets/admin/js/index.js"></script>
}

<div class="tpl-content-scope">
    <div class="note note-info">
        <h3>
            Simple Blog 为简单而生
            <span class="close" data-close="note"></span>
        </h3>
        <p>Simple Blog 是一个使用 Asp.Net Core 开发的轻型跨平台博客系统。</p>
    </div>
</div>

<div class="row">
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="am-icon-info-circle"></i>
            </div>
            <div class="details">
                <div class="number">@(Model.Version)</div>
                <div class="desc">系统版本</div>
            </div>
            <a class="more" href="#">
                检查更新
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="am-icon-server"></i>
            </div>
            <div class="details">
                <div class="number" id="webserver_type">获取中</div>
                <div class="desc">Web服务器</div>
            </div>
            <a class="more" href="#">
                详细信息
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="am-icon-@(Model.OSIcon)"></i>
            </div>
            <div class="details">
                <div class="number">@(Model.OSType)</div>
                <div class="desc">操作系统</div>
            </div>
            <a class="more" href="#">
                详细信息
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="am-icon-balance-scale"></i>
            </div>
            <div class="details">
                <div class="number">MIT</div>
                <div class="desc">许可协议</div>
            </div>
            <a class="more" blog-href="license.html" target="_blank">
                查看协议
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>